@model Daybook.WebApp.Core.ViewModels.PlansViewModel

@{
    ViewBag.Title = "List";


}

@functions {
    public string planstyle(object plantype)
    {
        string typename = Convert.ToString(plantype);

        if (typename == "Spending")
        {
            return "text-danger";
        }
        else if (typename == "Budget")
        {
            return "text-success";
        }
        else if (typename == "GroupOfWork")
        {
            return "text-warning";
        }

        return "text-secondary";
    }
}


<h2>Plan</h2>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Target Amount</th>
            <th class="text-center">Recent Amount</th>
            <th class="text-center">Archives Rate (%)</th>
            <th class="text-center">Due Date</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Plannings.Any())
        {
            foreach (var p in Model.Plannings)
            {
                <tr class="@planstyle(p.PlanKind)">
                    <td class="text-center">
                        @p.PlanningName
                    </td>
                    <td class="text-center">
                        @if (!string.IsNullOrEmpty(p.CurrencyID))
                        {
                            @p.CurrencyID
                        }
                        @p.RecentBalance.ToString("c")
                    </td>
                    <td class="text-center">0</td>
                    <td class="text-center">0</td>
                    <td class="text-center">
                        @if (!string.IsNullOrEmpty(p.DueDate))
                        {
                            @p.DueDate
                        }
                    </td>
                    <td class="text-center">
                        <a href='@Url.Action("ViewPlan",
                                "Plan", new { planid = KeyGenerator.Encode(p.PlanningID) })'
                           class="btn btn-info btn-xs">View</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    <p class="text-info">No Payee Found</p>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6" class="text-right">
                <a href='@Url.Action("AddPlan", "Plan", new { payeeid="" })'
                   class="btn btn-primary btn-xs">Add Plan</a>
            </td>
        </tr>
    </tfoot>
</table>
